attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.4.9
dice_ml==0.12
idna==3.18
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lightgbm==4.6.0
networkx==3.2.1
numpy==2.0.2
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2026.2
raiutils==0.4.2
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.69.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.6.3
xgboost==2.1.4
